# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
from google.colab import drive
drive.mount('/mntDrive')

Mounted at /mntDrive

In [2]:
#CodeSection2
import pandas as pd

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [ ]:
/mntDrive/MyDrive/Project MasterMind/1 - Planning Stage/2- Research/6- New Teaching Method/Loan Prediction (Webinar Flow)/Solution Codes/input/

In [3]:
#CodeSection3
train = pd.read_csv("/mntDrive/MyDrive/__Data_Science/3 HR Analytics/input/train.csv")
test = pd.read_csv("/mntDrive/MyDrive/__Data_Science/3 HR Analytics/input/test.csv")

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [4]:
#CodeSection4
train.head()

   enrollee_id      city  ...  training_hours target
0        23798  city_149  ...             106      0
1        29166   city_83  ...              69      0
2           46   city_16  ...               4      0
3        18527   city_64  ...              26      0
4        21751  city_100  ...              88      1

[5 rows x 14 columns]

In [5]:
#CodeSection5
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             18359 non-null  int64
 1   city                    18359 non-null  object
 2   city_development_index  18359 non-null  float64
 3   gender                  14261 non-null  object
 4   relevent_experience     18359 non-null  object
 5   enrolled_university     18017 non-null  object
 6   education_level         17902 non-null  object
 7   major_discipline        15521 non-null  object
 8   experience              18300 non-null  object
 9   company_size            13580 non-null  object
 10  company_type            13320 non-null  object
 11  last_new_job            17992 non-null  object
 12  training_hours          18359 non-null  int64
 13  target                  18359 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [ ]:
#CodeSection6
# Convert/Map Load_Status (Y/N) to  (1/0)
# Only do this step if you have non-numerical label in the "y" variable
<Write your code here>

In [ ]:
#CodeSection7
<Write your code here>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [6]:
#CodeSection8
test.head()

   enrollee_id      city  ...  last_new_job training_hours
0        16548   city_33  ...           NaN             15
1        12036   city_28  ...             1             94
2        11061  city_103  ...             1             17
3         5032  city_104  ...             2             76
4        17599   city_77  ...             2             65

[5 rows x 13 columns]

In [7]:
#CodeSection9
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15021 non-null  int64
 1   city                    15021 non-null  object
 2   city_development_index  15021 non-null  float64
 3   gender                  11633 non-null  object
 4   relevent_experience     15021 non-null  object
 5   enrolled_university     14742 non-null  object
 6   education_level         14626 non-null  object
 7   major_discipline        12628 non-null  object
 8   experience              14977 non-null  object
 9   company_size            10970 non-null  object
 10  company_type            10691 non-null  object
 11  last_new_job            14717 non-null  object
 12  training_hours          15021 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.5+ MB

In [9]:
#CodeSection10
test.describe(include = 'all')

         enrollee_id      city  ...  last_new_job training_hours
count   15021.000000     15021  ...         14717   15021.000000
unique           NaN       123  ...             6            NaN
top              NaN  city_103  ...             1            NaN
freq             NaN      3494  ...          6246            NaN
mean    16643.004327       NaN  ...           NaN      65.158179
std      9626.895233       NaN  ...           NaN      59.719211
min         6.000000       NaN  ...           NaN       1.000000
25%      8316.000000       NaN  ...           NaN      23.000000
50%     16664.000000       NaN  ...           NaN      47.000000
75%     24908.000000       NaN  ...           NaN      89.000000
max     33378.000000       NaN  ...           NaN     336.000000

[11 rows x 13 columns]

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [25]:
#CodeSection11
# We will use "Married" for this example
# You can select any other variable of your choice
train.groupby('enrolled_university').sum()

                     enrollee_id  ...  target
enrolled_university               ...
Full time course        54412769  ...     607
Part time course        20391859  ...     174
no_enrollment          226252884  ...    1588

[3 rows x 4 columns]

In [26]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
train['enrolled_university'].value_counts()

no_enrollment       13659
Full time course     3187
Part time course     1171
Name: enrolled_university, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [30]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f'Probability of response = 1 for Full-time course enrollment: {607/3187:0.1%}')
print(f'Probability of response = 1 for Part-time course enrollment: {174/1171:0.1%}')
print(f'Probability of response = 1 for No enrollment: {1588/13659:0.1%}')
# print(f" 1: {1018/7567:0.1%}")
# print(f" 2: {389/2835:0.1%}")
# print(f" 3: {130/1027:0.1%}")
# print(f" 4: {147/1038:0.1%}")
# print(f" >4: {361/3339:0.1%}")
# print(f" Never: {310/2186:0.1%}")

Probability of response = 1 for Full-time course enrollment: 19.0%
Probability of response = 1 for Part-time course enrollment: 14.9%
Probability of response = 1 for No enrollment: 11.6%

### Observation
- Married Applicants have a higher probability of getting a Loan
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [31]:
#CodeSection14
train['Prediction'] = train['enrolled_university'].apply(lambda x: 1 if x=='Full time course' else 0 )

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [32]:
#CodeSection15
train.groupby('enrolled_university').sum()

                     enrollee_id  city_development_index  ...  target  Prediction
enrolled_university                                       ...
Full time course        54412769                2571.579  ...     607        3187
Part time course        20391859                 978.116  ...     174           0
no_enrollment          226252884               11729.750  ...    1588           0

[3 rows x 5 columns]

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [33]:
#CodeSection16
from sklearn.metrics import accuracy_score

In [34]:
#CodeSection17
y_actual = train['target']
y_pred = train['Prediction']

In [35]:
#CodeSection18
print(f" Train Accuracy : {accuracy_score(y_actual, y_pred):0.1%}")

 Train Accuracy : 76.0%

***Q : What accuracy do you observe?***

76%

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [36]:
#CodeSection19
test['Prediction'] = test['enrolled_university'].apply(lambda x: 1 if x=='Full time course' else 0 )

In [37]:
#CodeSection20
test.groupby('enrolled_university').sum()

                     enrollee_id  ...  Prediction
enrolled_university               ...
Full time course        44158999  ...        2565
Part time course        16105836  ...           0
no_enrollment          185065010  ...           0

[3 rows x 4 columns]

In [ ]:
#CodeSection21
# We will use (Y/N) to match it to the Competition Submission Data
<Write your code here>

*Use **value_counts()** to check your prediction split*

In [ ]:
#CodeSection21
<Write your code here>

Y    233
N    134
Name: Loan_Status_Pred, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [38]:
#CodeSection22
sample_submission = pd.read_csv("/mntDrive/MyDrive/__Data_Science/3 HR Analytics/input/sample_submission.csv")
sample_submission

       enrollee_id  target
0            16548       0
1            12036       0
2            11061       0
3             5032       0
4            17599       0
...            ...     ...
15016        11308       0
15017        14612       0
15018        33346       0
15019        14506       0
15020        32641       0

[15021 rows x 2 columns]

In [39]:
test.head()

   enrollee_id      city  ...  training_hours Prediction
0        16548   city_33  ...              15          1
1        12036   city_28  ...              94          0
2        11061  city_103  ...              17          1
3         5032  city_104  ...              76          0
4        17599   city_77  ...              65          0

[5 rows x 14 columns]

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [43]:
#CodeSection23
submission = pd.DataFrame({
    'enrollee_id' : test['enrollee_id']   ,
    'target' : test['Prediction']
})

In [44]:
submission.head()

   enrollee_id  target
0        16548       1
1        12036       0
2        11061       1
3         5032       0
4        17599       0

### Export Submission File
- Export to output folder

In [45]:
#CodeSection24
# Ensure you don't export the index.
submission.to_csv('/mntDrive/MyDrive/__Data_Science/3 HR Analytics/output/O1_IF_THEN.csv', index = False)

In [ ]:
# LB Accuracy : <Write Leaderboard Score here>